.news{
    &__item{
        @include flex(flex, center, center, column, wrap);
        margin-bottom: $gap * 4;
        &:nth-last-of-type(1){ margin-bottom: 0; }
        @media(min-width: $mq1){
            &:nth-of-type(1){ margin-right: $gap-h / 2; }
            &:nth-of-type(2){ margin-left: $gap-h / 2; }
        }
        @media(min-width: $mq2){ width: 28%; }
    }

    &__date{
        margin: $gap * 3 0 $gap ;
        font-size: 12px;
        letter-spacing: 1.2px;
    }
    &__title{
        font-family: "Canela", Times, serif;
        font-size: 30px;
        line-height: 37px;
        text-align: center;
        @media(min-width: $mq2){
            font-size: 40px;
            line-height: 42px;
        }
    }
    &__description{
        margin: $gap / 2 0 $gap * 2;
        font-size: 20px;
        line-height: 23px;
        text-align: center;
    }
}
