section.recipe
    h2.recipe__title Asiatische-Rezepte
        
    div.palette-container
        div.palette-item 
            span.palette-item__bg(style="background-color:#eaeaea") 
            span.palette-item__name Laktosefrei
        div.palette-item
            span.palette-item__bg(style="background-color:#b783b3") 
            span.palette-item__name Fusion
        div.palette-item
            span.palette-item__bg(style="background-color:#24b184") 
            span.palette-item__name Gemüse
        div.palette-item
            span.palette-item__bg(style="background-color:#0090ff") 
            span.palette-item__name Koreanisch
        div.palette-item
            span.palette-item__bg(style="background-color:#b783b3") 
            span.palette-item__name Party
            
            
    div.recipe-list
        
        div.recipe-scroll
        
            article.recipe-item
                div.recipe-item__bg
                    img.recipe-item__img(src="img/recipes-1.jpg", alt="Foto de receta")
                span.recipe-item__name Kimchi Pancake mit Bonitoflocken
                div.palette
                    span.palette__color(style="background-color:#e5d7ac")
                    span.palette__color(style="background-color:#e7c291")
                    span.palette__color(style="background-color:#aed9b7")
        
            article.recipe-item
                div.recipe-item__bg
                    img.recipe-item__img(src="img/recipes-2.jpg", alt="Foto de receta")
                span.recipe-item__name Bibimbap mit Sushireis, Shiitake und Gochujang-Sauce
                div.palette
                    span.palette__color(style="background-color:#add9b6")
                    span.palette__color(style="background-color:#c3ced2")
                    span.palette__color(style="background-color:#24b184")
        
            article.recipe-item
                div.recipe-item__bg
                    img.recipe-item__img(src="img/recipes-3.jpg", alt="Foto de receta")
                span.recipe-item__name Crispy Duck mit Miso-Pflaumen-Sauce
                div.palette
                    span.palette__color(style="background-color:#e08181")
                    span.palette__color(style="background-color:#85775a")
                    span.palette__color(style="background-color:#e0e0ba")
        
            article.recipe-item
                div.recipe-item__bg
                    img.recipe-item__img(src="img/recipes-4.jpg", alt="Foto de receta")
                span.recipe-item__name Mayonnaise by Mochi
                div.palette
                    span.palette__color(style="background-color:#fc3f3f")
                    span.palette__color(style="background-color:#454536")
                    span.palette__color(style="background-color:#e0e0ba")
                    
    
    a.recipe__button.button(href="#") Alle Rezepte
            
            
