section.banner

    div.banner__info
        
        div.palette
            span.palette__color(style="background-color:#e5d7ac")
            span.palette__color(style="background-color:#e7c291")
            span.palette__color(style="background-color:#aed9b7")
                
        h1.banner__title Koreanisches Kimchi
        p.banner__description Der neue fernöstliche Star der Fermentos
        a.banner__link(href="#") MEHR LESEN
        div.banner__line
            
    div.banner__img
    
