section.recipe
    h2.recipe__title Dessert Rezepte
        
    div.palette-container
        div.palette-item 
            span.palette-item__bg(style="background-color:#f6bfba") 
            span.palette-item__name Süß
        div.palette-item
            span.palette-item__bg(style="background-color:#b783b3") 
            span.palette-item__name Party
        div.palette-item
            span.palette-item__bg(style="background-color:#ffea5e") 
            span.palette-item__name Sommer
        div.palette-item
            span.palette-item__bg(style="background-color:#e18181") 
            span.palette-item__name Obst
        div.palette-item
            span.palette-item__bg(style="background-color:#aed9b7") 
            span.palette-item__name Süßspeise
            
            
    div.recipe-list
        
        div.recipe-scroll
        
            article.recipe-item
                div.recipe-item__bg
                    img.recipe-item__img(src="img/dessert-1.jpg", alt="Foto de receta")
                span.recipe-item__name Vanille-Spargel, Bier-Granita &amp; Mandel-Crumble an Vanille-Eis
                div.palette
                    span.palette__color(style="background-color:#FFA4A0")
                    span.palette__color(style="background-color:#00B286")
                    span.palette__color(style="background-color:#82C6D5")
        
            article.recipe-item
                div.recipe-item__bg
                    img.recipe-item__img(src="img/dessert-2.jpg", alt="Foto de receta")
                span.recipe-item__name Bibimbap mit Sushireis, Shiitake und Gochujang-Sauce
                div.palette
                    span.palette__color(style="background-color:#FF826B")
                    span.palette__color(style="background-color:#82C6D5")
                    span.palette__color(style="background-color:#EE7E82")
        
            article.recipe-item
                div.recipe-item__bg
                    img.recipe-item__img(src="img/dessert-3.jpg", alt="Foto de receta")
                span.recipe-item__name Crispy Duck mit Miso-Pflaumen-Sauce
                div.palette
                    span.palette__color(style="background-color:#aed9b7")
                    span.palette__color(style="background-color:#f6bfba")
                    span.palette__color(style="background-color:#f6bfba")
        
            article.recipe-item
                div.recipe-item__bg
                    img.recipe-item__img(src="img/dessert-4.jpg", alt="Foto de receta")
                span.recipe-item__name Mayonnaise by Mochi
                div.palette
                    span.palette__color(style="background-color:#ffea5e")
                    span.palette__color(style="background-color:#847659")
                    span.palette__color(style="background-color:#847659")
                    
    
    a.recipe__button.button(href="#") Alle Rezepte
            
            
