section.recipe
    h2.recipe__title Schnelle Küche
        
    div.palette-container
        div.palette-item 
            span.palette-item__bg(style="background-color:#ffea5e") 
            span.palette-item__name Sommer
        div.palette-item
            span.palette-item__bg(style="background-color:#f98667") 
            span.palette-item__name Schnelle Küche
        div.palette-item
            span.palette-item__bg(style="background-color:#eaeaea") 
            span.palette-item__name Laktosefrei
        div.palette-item
            span.palette-item__bg(style="background-color:#c2ced2") 
            span.palette-item__name Gesund
        div.palette-item
            span.palette-item__bg(style="background-color:#aed9b7") 
            span.palette-item__name Frühling
            
            
    div.recipe-list
        
        div.recipe-scroll
        
            article.recipe-item
                div.recipe-item__bg
                    img.recipe-item__img(src="img/recipes-5.jpg", alt="Foto de receta")
                span.recipe-item__name Kimchi Pancake mit Bonitoflocken
                div.palette
                    span.palette__color(style="background-color:#aed9b7")
                    span.palette__color(style="background-color:#f98667")
                    span.palette__color(style="background-color:#97d1ec")
        
            article.recipe-item
                div.recipe-item__bg
                    img.recipe-item__img(src="img/recipes-6.jpg", alt="Foto de receta")
                span.recipe-item__name Bibimbap mit Sushireis, Shiitake und Gochujang-Sauce
                div.palette
                    span.palette__color(style="background-color:#aed9b7")
                    span.palette__color(style="background-color:#c2ced2")
                    span.palette__color(style="background-color:#ecc590")
        
            article.recipe-item
                div.recipe-item__bg
                    img.recipe-item__img(src="img/recipes-7.jpg", alt="Foto de receta")
                span.recipe-item__name Crispy Duck mit Miso-Pflaumen-Sauce
                div.palette
                    span.palette__color(style="background-color:#ecc590")
                    span.palette__color(style="background-color:#e18181")
                    span.palette__color(style="background-color:#51b1fb")
        
            article.recipe-item
                div.recipe-item__bg
                    img.recipe-item__img(src="img/recipes-8.jpg", alt="Foto de receta")
                span.recipe-item__name Mayonnaise by Mochi
                div.palette
                    span.palette__color(style="background-color:#ffea5e")
                    span.palette__color(style="background-color:#24b184")
                    span.palette__color(style="background-color:#ecb266")
                    
    
    a.recipe__button.button(href="#") Alle Rezepte
            
            
