footer.footer
    div.footer-container
        ul.footer__list
            li.footer__item
                span.footer__title Für Unternehmen
            li.footer__item
                a.footer__link Content Production
            li.footer__item
                a.footer__link Feinkoch Studio
        ul.footer__list
            li.footer__item
                span.footer__title Über Feinkoch
            li.footer__item
                a.footer__link Impressum
            li.footer__item
                a.footer__link Über uns
            li.footer__item
                a.footer__link Kontakt
        ul.footer__list
            li.footer__item
                span.footer__title Social Media
            li.footer__item
                a.footer__link Facebook
            li.footer__item
                a.footer__link Twitter
            li.footer__item
                a.footer__link Pinterest
            li.footer__item
                a.footer__link Instagram


        div.palette-container.footer-palette
            div.palette-title Tags die du versuchen solltest:   
            div.palette-item 
                span.palette-item__bg(style="background-color:#f6bfba") 
                span.palette-item__name Süß
            div.palette-item
                span.palette-item__bg(style="background-color:#b783b3") 
                span.palette-item__name Party
            div.palette-item
                span.palette-item__bg(style="background-color:#ffea5e") 
                span.palette-item__name Sommer
            div.palette-item
                span.palette-item__bg(style="background-color:#e18181") 
                span.palette-item__name Obst
            div.palette-item
                span.palette-item__bg(style="background-color:#aed9b7") 
                span.palette-item__name Süßspeise
            div.palette-item
                span.palette-item__bg(style="background-color:#EE7E82") 
                span.palette-item__name Italienisch
            div.palette-item
                span.palette-item__bg(style="background-color:#BE82B1") 
                span.palette-item__name Griechish
            div.palette-item
                span.palette-item__bg(style="background-color:#459727") 
                span.palette-item__name Vegan
