header.header#header
    div.header-container
        img.header__logo#logo(src="img/logo.png", alt="Logo de Feinkoch")
            
        div.header__menu
            img.header__icon.icon(src="img/menu.svg", alt="Icono de menu")
            span.header__txt Menu
            
        div.header__search
            img.header__icon.icon(src="img/search.svg", alt="Icono de búsqueda")
            input.header__input(type="input", placeholder="Suche nach...")
