section.news
    
    article.news__item
        img.news__img(src="img/news-1.jpg", alt="Imagen de news")
        span.news__date &#183; 07/05/2019
        h2.news__title Zu Gast in der Brauküche 35
        p.news__description Die Neugier auf Bier ist groß. Und in Schalladorf hat sich was ganz Neues zusammengebraut.
        a.news__button.button(href="#") Zur Story
            
    article.news__item
        img.news__img(src="img/news-2.jpg", alt="Imagen de news")
        span.news__date &#183; 10/05/2018
        h2.news__title Sonja Priller
        p.news__description Food-Fotografin, Ästhetin, Denkerin, Hobby-Winzerin & unverzichtbares Mitglied des feinkoch-Teams
        a.news__button.button(href="#") Zur Story
            

            
            
            
            
            
