section.newsletter
    div.newsletter__item.newsletter__item--100
        img.newsletter__icon.icon-n(src="img/newsletter-1.png", alt="icono de newsletter")
        a.newsletter__link(href="#") ZUM FEINKOCH MAGAZIN
        
    div.newsletter__form
        img.newsletter__icon.icon-n(src="img/newsletter-2.svg", alt="icono de newsletter")
        input.newsletter__input(type="text", placeholder="Deine E-Mail Adrese")
        button.newsletter__button(type="submit", ) Zum Newsletter anmelden
        
    div.newsletter__item
        img.newsletter__icon.icon-n(src="img/newsletter-3.svg", alt="icono de newsletter")
        p.newsletter__description Die holzigen Enden des Spargels entfernt man am leichtesten, indem man sie einfach abbricht
        button.newsletter__button(type="submit", ) Feinkoch Tipps
