// ***** Colors *****
$white: #ffffff;
$black: #242424;
$gray: #ededed;
$gray-b: #F8F8F8;
$green: #B4C8C6;
$blue: #8edbed;
$gap: 20px;
$gap-v: 35px;
$gap-h: 50px;


$transition: .3s ease;

$mq1: 770px;
$mq2: 1024px;
$mq3: 1200px;
$mq4: 1400px;
